#titulo{

	color: white;
	text-align: center;
	background-color: black;
	font-family: courier new;





}

#Marcas{

	background-color: black;
	color: white;
	text-align: center;
	font-family: courier new;




}

body{

	margin: 0;
	padding: 0;


}

